<div id="main-panel-content" class="resize-lg-left-navigation" style="padding-top: 83px;">
  <div class="container">

    <div class="overview-page">
      <h2>Tableau de bord</h2>
    </div>

    <div class="row mg-t-3 ">
      <div class="col-md-12 ">
        <div id="breadcrumb" class="breadcrumb-dash" style="border-bottom: 1px solid #ddd; margin-bottom: 15px;">
        	<a href="#!" class="breadcrumb-close">Accueil</a>
        	<a href="#!" class="breadcrumb-link">
            <img src="assets/images/home-96.png" alt="Home Icon CSU" style="height: 15px;">
            Accueil
          </a>
        	<a href="#!" class="breadcrumb-link">Tableau de bord</a>
        	<a href="#breadcrumb" class="breadcrumb--active">Active Level</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card-dash-csu">
          <div class="liste-dash text-left">
            <img src="assets/images/account-64.png" alt="" style="float: left; margin-right: 7px; width: 30px;"/>
            <h2 class="title">Dernières Connexion</h2>
            <h3 class="subtitle">Liste des mes comptes</h3>
          </div>

          <form class="" action="index.html" method="post">
            <div class="form-group">
                <input type="text" name="" value="" style="" class="form-control dash-input-lg" placeholder="Nom de l'entreprise">
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card-dash-csu">
          <div class="liste-dash text-left">
            <img src="assets/images/account-64.png" alt="" style="float: left; margin-right: 7px; width: 30px;"/>
            <h2 class="title">Dernières Connexion</h2>
            <h3 class="subtitle">Liste des mes comptes</h3>
          </div>

          <form class="" action="index.html" method="post">
            <div class="form-group">
                <input type="text" name="" value="" style="" class="form-control dash-input-lg" placeholder="Nom de l'entreprise">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
