<div id="main-panel-content" class="resize-lg-left-navigation" style="padding-top: 83px;">
  <div class="container">

    <div class="overview-page">
      <h2>Tableau de bord</h2>
    </div>

    <div class="form-group" *ngIf="filedata != null">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ filedata.progress }}%" aria-valuenow="{{ filedata.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="row mg-t-3 ">
      <div class="col-md-12 ">
        <div id="breadcrumb" class="breadcrumb-dash" style="border-bottom: 1px solid #ddd; margin-bottom: 15px;">
        	<a href="#!" class="breadcrumb-close">Accueil</a>
        	<a href="#!" class="breadcrumb-link">
            <img src="assets/images/home-96.png" alt="Home Icon CSU" style="height: 15px;">
            Accueil
          </a>
        	<a href="#!" class="breadcrumb-link">Tableau de bord</a>
        	<a href="#breadcrumb" class="breadcrumb--active">Active Level</a>
        </div>
      </div>
    </div>
    
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
    >
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

    <div class="row">
      <div class="col-md-6">
        <div class="card-dash-csu">
          <div class="liste-dash text-left">
            <img src="assets/images/account-64.png" alt="" style="float: left; margin-right: 7px; width: 30px;"/>
            <h2 class="title">Dernières Connexion</h2>
            <h3 class="subtitle">Liste des mes comptes</h3>
          </div>

          <form name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm">

            <div class="form-group">
              <input
              type="text"
              class="form-control dash-input-lg"
              name="nom"
              [(ngModel)]="form.nom"
              required
              minlength="2"
              #nom="ngModel"
              placeholder="Entrez votre nom de famille" [ngClass]="nom.touched ? (nom.invalid ? 'is-invalid' : 'is-valid') : ''" value="{{ form.nom }}"/>
             
              <div class="invalid-feedback" *ngIf="nom.invalid">
                <div *ngIf="nom.errors.required">Le champ Nom est requis</div>
                <div *ngIf="nom.errors.minlength">
                  Au moins 3 caractères
                </div>
              </div>
            </div>


            <div class="form-group">
              <input
              type="text"
              class="form-control dash-input-lg"
              name="prenom"
              [(ngModel)]="form.prenom"
              required
              minlength="2"
              #prenom="ngModel"
              placeholder="Entrez votre prenom"  [ngClass]="prenom.touched ? (prenom.invalid ? 'is-invalid' : 'is-valid') : ''" value="{{ form.prenom }}"/>
             
              <div class="invalid-feedback" *ngIf="prenom.invalid">
                <div *ngIf="prenom.errors.required">Le champ Prenom est requis</div>
                <div *ngIf="prenom.errors.minlength">
                  Au moins 3 caractères
                </div>
              </div>
            </div>

            
            <div class="form-group">
              <div class="custom-file mg-b-3">
                <input type="file" class="custom-file-input" id="customFile" (change)="fileEvent($event)"/>
                <label class="custom-file-label" for="customFile"> {{ currentFileName }}</label>
              </div>
            </div>

            <div class="text-center"><img [src]="url" height="200" *ngIf="url" style="height: 70px;"/> <br/></div>



            <!-- <div style="text-align:center; margin-top: 100px; "><div style="margin-top:10px; width: 50%;">  
              <div>  
                  <ul>  
                      <li *ngFor="let file of files">  
                          <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ file.progress }}%" aria-valuenow="{{ file.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span id="file-label">  
                                
                          </span>  
                      </li>  
                  </ul>  
              </div>  
              <div>  
                  <button mat-button color="warn" (click)="onClick()">  
                      <span>file_upload</span>  
                      Upload  
                  </button>  
              </div>  
          </div><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div> -->


            <div class="form-group">
              <button class="btn btn-primary">Envoyer <span class="fa fa-send"></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card-dash-csu">
          <div class="liste-dash text-left">
            <img src="assets/images/account-64.png" alt="" style="float: left; margin-right: 7px; width: 30px;"/>
            <h2 class="title">Dernières Connexion</h2>
            <h3 class="subtitle">Liste des mes comptes</h3>
          </div>

          <form class="" action="index.html" method="post">
            <div class="form-group">
                <input type="text" name="" value="" style="" class="form-control dash-input-lg" placeholder="Email">
            </div>

            <div class="form-group">
              <input type="text" name="" value="" style="" class="form-control dash-input-lg" placeholder="Téléphone">
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Envoyer <span class="fa fa-send"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
