
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p class="login-card-description" style="font-family: Philosopher-Bold;">
              Connectez vous à plus de 06 Applications avec <strong style="color: #325ea9;">un seul compte AFHunt</strong>
            </p>

            <form class="" action="index.html" method="post" style="display: block; min-width: 100%; ">
              <div class="" style="background: #90acd1; padding: 15px 30px; border: 1px solid #ddd; border-radius: 15px; margin-top: 15px;">

                <div class="text-center" style="margin-bottom: 20px;">
                  <img src="assets/images/utilisateur-100.png" alt=".." style="height: 50px;"/>
                </div>

                <div class="form-group">
                  <select name="" class="form-control">
                    <option value="">Type d'identifiant</option>
                    <option value="">Email</option>
                    <option value="">Téléphone</option>
                    <option value="">Pseudo</option>
                  </select>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="" value="" placeholder="Email"/>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" name="" value="" placeholder="Mot de passe"/>
                </div>

                <div class="" style="margin-top: 15px;">
                  <button href="#" class="flat-butt flat-grad-butt">Se connecter</button>

                  <a href="#" style="float: right;  margin-top: 20px;">Mot de passe oublié ?</a>
                </div>
              </div>
            </form>

            <a href="#!" class="forgot-password-link">Vous n'avez pas encore de compte ?</a>
            <p class="login-card-footer-text"><a routerLink="/registration/form" class="text-reset">Créer un nouveau compte <span class="fa fa-angle-right"></span></a></p>

              <nav class="login-card-footer-nav" style="border-top: 1px solid #ddd;">
                <a href="#!">Terms of use.</a>
                <a href="#!">Privacy policy</a>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
