
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>

        <div class="col-md-7">
          <div class="card-body">
            <p class="login-card-description" style="font-family: Philosopher-Bold;">
              Connectez vous à plus de 06 Applications avec <strong style="color: #325ea9;">un seul compte AFHunt</strong>
            </p>
            <a routerLink="profil" style="line-height: 15px;">
              <h5>Noel Kenack</h5>
              <div class="">
                noel.kenfack@yahoo.fr
              </div>
            </a>

            <div>
              <img src="assets/images/login.jpg" alt="login" style="height: 50px; margin-right: 7px; float: left;"/>
              <div class="">
                Explorer la liste des applications retenues et connectez vous avec  noel.kenfack@yahoo.fr
              </div>
            </div>

            <div class="" style="margin-top: 15px;">
              <a href="#" class="flat-butt flat-grad-butt">Parcourrir les applis</a>
            </div>

            <div class="" style="border: 1px solid #ddd; border-radius: 10px; min-height: 250px; margin-top: 15px;">

            </div>

            <div class="" style="margin-top: 15px;">
              <a href="#" class="flat-butt flat-grad-butt">Tous les comptes</a>
              <a routerLink="/login/form" class="flat-butt flat-info-butt flat-info-grad-butt">Utiliser un autre compte</a>
            </div>

            <nav class="login-card-footer-nav">
              <a href="#!">Terms of use.</a>
              <a href="#!">Privacy policy</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
