
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0" style="background-color: #fff!important;">
    <div class="container">
      <div class="row">

        <div class="col-md-8 offset-md-2">
          <div style="border-bottom: 1px solid #ddd; margin-bottom: 20px;">
            <h4 class="dropdown-btn12">Choisissez un compte pour vous connectez</h4>
          </div>
          <div class="" id="user-list">
            <ul>
              <li>
                <div class="content-account">
                  <img src="assets/images/utilisateur-100.png" alt=".." style="" class="account-profil"/>
                  <div>
                    <div class="" style="position: absolute; right: 20px; top: 15px; z-index: 50000;">
                      <div class="dropdown-btn">
                        <a href="javascript:void(0)" class="coustom-btn-dropdown-table">
                          <span class="fa fa-ellipsis-h"></span>
                        </a>
                        <div class="dropdown__menu">
                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-download"></span>
                            Télécharger
                          </a>

                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-money"></span>
                            Refaire
                          </a>
                        </div>
                      </div>
                    </div>


                    <h1>Maskedman</h1>
                    <h2>Dead inside but alive</h2>
                  </div>
                </div>
              </li>
              <li>
                <div class="content-account">
                    <img src="assets/images/utilisateur-100.png" alt=".." style="" class="account-profil"/>                  <div>
                    <div class="" style="position: absolute; right: 20px; top: 15px; z-index: 50000;">
                      <div class="dropdown-btn">
                        <a href="#!" class="coustom-btn-dropdown-table">
                          <span class="fa fa-ellipsis-h"></span>
                        </a>
                        <div class="dropdown__menu">
                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-download"></span>
                            Télécharger
                          </a>

                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-money"></span>
                            Refaire
                          </a>
                        </div>
                      </div>
                    </div>


                    <h1>Maskedman</h1>
                    <h2>Dead inside but alive</h2>
                  </div>
                </div>
              </li>

              <li class="active-accout">
                <div class="content-account">
                  <img src="assets/images/utilisateur-100.png" alt=".." style="" class="account-profil"/>
                  <div>
                    <div class="" style="position: absolute; right: 20px; top: 15px; z-index: 50000;">
                      <div class="dropdown-btn">
                        <a href="#!" class="coustom-btn-dropdown-table">
                          <span class="fa fa-ellipsis-h"></span>
                        </a>
                        <div class="dropdown__menu">
                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-download"></span>
                            Télécharger
                          </a>

                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-money"></span>
                            Refaire
                          </a>
                        </div>
                      </div>
                    </div>


                    <h1>Maskedman</h1>
                    <h2>Dead inside but alive</h2>
                  </div>
                </div>
              </li>

              <li>
                <div class="content-account">
                  <img src="assets/images/utilisateur-100.png" alt=".." style="" class="account-profil"/>
                  <div>
                    <div class="" style="position: absolute; right: 20px; top: 15px; z-index: 50000;">
                      <div class="dropdown-btn">
                        <a href="#!" class="coustom-btn-dropdown-table">
                          <span class="fa fa-ellipsis-h"></span>
                        </a>
                        <div class="dropdown__menu">
                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-download"></span>
                            Télécharger
                          </a>

                          <a href="#!" class="dropdown__option">
                            <span class="fa fa-money"></span>
                            Refaire
                          </a>
                        </div>
                      </div>
                    </div>


                    <h1>Maskedman</h1>
                    <h2>Dead inside but alive</h2>
                  </div>
                </div>
              </li>
            </ul>
          </div>

            <div class="" style="margin-top: 15px;">
              <a routerLink="/login/form" class="flat-butt flat-info-butt flat-info-grad-butt">Utiliser un autre compte</a>
            </div>
        </div>
      </div>
    </div>
  </main>
